{
  "linters": {
    "{lib,public,scripts,test}/**/*.ts": [
      "prettier --write --tab-width 4",
      "npm run lint:typescript -- --fix",
      "git add"
    ],
    "{lib,public,scripts,test}/**/*.js": [
      "prettier --write --tab-width 4",
      "npm run lint:javascript -- --fix",
      "git add"
    ],
    "{,public/}*.{json,yaml,yml}": [
      "prettier --write --tab-width 2",
      "git add"
    ],
    "{,public/}.editorconfig": [
      "prettier --write --tab-width 2 --parser yaml",
      "git add"
    ],
    "{,public/}.lintstagedrc": [
      "prettier --write --tab-width 2 --parser json",
      "git add"
    ]
  },
  "globOptions": {
    "dot": true
  }
}
