{
  "linters": {
    "{lib,public,.scripts,test}/**/*.ts": [
      "prettier --config .scripts/.prettierrc.yml --write --tab-width 4",
      "npm run lint:typescript -- --fix",
      "git add"
    ],
    "{lib,public,.scripts,test}/**/*.js": [
      "prettier --config .scripts/.prettierrc.yml --write --tab-width 4",
      "npm run lint:javascript -- --fix",
      "git add"
    ],
    "{,.scripts/,public/}*.{json,yaml,yml}": [
      "prettier --config .scripts/.prettierrc.yml --write --tab-width 2",
      "git add"
    ],
    "{,.scripts/,public/}.lintstagedrc": [
      "prettier --config .scripts/.prettierrc.yml --write --tab-width 2 --parser json",
      "git add"
    ]
  },
  "globOptions": {
    "dot": true
  }
}
